<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="visualstudio2019buildtools" packageParameters="--add Microsoft.VisualStudio.Workload.MSBuildTools --add Microsoft.VisualStudio.Workload.NetCoreBuildTools --includeRecommended --includeOptional" />
    <package id="dotnetcore-sdk" />
</packages>
